.task__container{
    width: 95%;
    height: 6rem;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    align-self: center;
}

.task-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.task__container{
    width: 95%;
    height: 6rem;
    border-radius: 5px;
    border: 1px solid rgba(27,31,35,0.15);
    background-color: white;
    align-self: center;
}

.task-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.task-text{
    color: #0366d6;
    font-weight: bold;
}

.task-created{
    color: grey
}

.status-check{
    color: green;
    

}

.status-cancel{
    color: red;

}